<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="BaseRoleMapper" >
  <resultMap id="BaseRoleResultMap" type="BaseRole" >
    <id column="ROLE_ID" property="roleId" jdbcType="INTEGER" />
    <result column="ROLE_CODE" property="roleCode" jdbcType="VARCHAR" />
    <result column="ROLE_NAME" property="roleName" jdbcType="VARCHAR" />
    <result column="MEMO" property="memo" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from BASE_ROLE
    where ROLE_ID = #{roleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="BaseRole" >
    insert into BASE_ROLE (ROLE_ID, ROLE_CODE, ROLE_NAME, 
      MEMO)
    values (#{roleId,jdbcType=INTEGER}, #{roleCode,jdbcType=VARCHAR}, #{roleName,jdbcType=VARCHAR}, 
      #{memo,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="BaseRole" >
    update BASE_ROLE
    set ROLE_CODE = #{roleCode,jdbcType=VARCHAR},
      ROLE_NAME = #{roleName,jdbcType=VARCHAR},
      MEMO = #{memo,jdbcType=VARCHAR}
    where ROLE_ID = #{roleId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseRoleResultMap" parameterType="java.lang.Integer" >
    select ROLE_ID, ROLE_CODE, ROLE_NAME, MEMO
    from BASE_ROLE
    where ROLE_ID = #{roleId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseRoleResultMap" >
    select ROLE_ID, ROLE_CODE, ROLE_NAME, MEMO
    from BASE_ROLE
  </select>
</mapper>