<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BaseSysUserMapper">
  <resultMap id="BaseSysUserResultMap" type="BaseSysUser">
    <id column="USER_ID" jdbcType="INTEGER" property="userId" />
    <result column="USER_NO" jdbcType="VARCHAR" property="userNo" />
    <result column="USER_PWD" jdbcType="VARCHAR" property="userPwd" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="ROLE_ID" jdbcType="VARCHAR" property="roleId" />
    <result column="MOBILE" jdbcType="VARCHAR" property="mobile" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="PHONE" jdbcType="VARCHAR" property="phone" />
    <result column="QQ" jdbcType="VARCHAR" property="qq" />
    <result column="GENDER" jdbcType="VARCHAR" property="gender" />
    <result column="STATUS" jdbcType="INTEGER" property="status" />
    <result column="SALT" jdbcType="VARCHAR" property="salt" />
    <result column="LAST_LOGIN_TIME" jdbcType="VARCHAR" property="lastLoginTime" />
    <result column="MAC" jdbcType="VARCHAR" property="mac" />
    <result column="LOGIN_IPS" jdbcType="VARCHAR" property="loginIps" />
    <result column="MEMO" jdbcType="VARCHAR" property="memo" />
    <result column="CREATE_DATE" jdbcType="VARCHAR" property="createDate" />
    <result column="UPDATE_DATE" jdbcType="VARCHAR" property="updateDate" />
    <result column="CREATE_BY" jdbcType="INTEGER" property="createBy" />
    <result column="UPDATE_BY" jdbcType="INTEGER" property="updateBy" />
  </resultMap>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from BASE_SYS_USER
    where USER_ID = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="BaseSysUser">
    insert into BASE_SYS_USER (USER_ID, USER_NO, USER_PWD, 
      USER_NAME, ROLE_ID, MOBILE, 
      EMAIL, PHONE, QQ, GENDER, 
      STATUS, SALT, LAST_LOGIN_TIME, 
      MAC, LOGIN_IPS, MEMO, 
      CREATE_DATE, UPDATE_DATE, CREATE_BY, 
      UPDATE_BY)
    values (#{userId,jdbcType=INTEGER}, #{userNo,jdbcType=VARCHAR}, #{userPwd,jdbcType=VARCHAR}, 
      #{userName,jdbcType=VARCHAR}, #{roleId,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{qq,jdbcType=VARCHAR}, #{gender,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{salt,jdbcType=VARCHAR}, #{lastLoginTime,jdbcType=VARCHAR}, 
      #{mac,jdbcType=VARCHAR}, #{loginIps,jdbcType=VARCHAR}, #{memo,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=VARCHAR}, #{updateDate,jdbcType=VARCHAR}, #{createBy,jdbcType=INTEGER}, 
      #{updateBy,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="java.lang.Integer">
    update BASE_SYS_USER
    <!-- 该标签会前置SET关键字，且消除无意义的逗号 -->  
    <set>
      <if test="userNo!=null and userNo!='' ">
      	USER_NO = #{userNo,jdbcType=VARCHAR},
      </if>
      <if test="userPwd!=null and userPwd!='' ">
      	USER_PWD = #{userPwd,jdbcType=VARCHAR},
      </if>
      <if test="userName!=null and userName!='' ">
     	USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="roleId!=null and roleId!='' ">
      	ROLE_ID = #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="mobile!=null and mobile!='' ">
      	MOBILE = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email!=null and email!='' ">
      	EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone!=null and phone!='' ">
      	PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="qq!=null and qq!='' ">
      	QQ = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="gender!=null and gender!='' ">
      	GENDER = #{gender,jdbcType=VARCHAR},
      </if>
      <if test="status!=null and status!='' ">
      	STATUS = #{status,jdbcType=INTEGER},
      </if>
      <if test="salt!=null and salt!='' ">
      	SALT = #{salt,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginTime!=null and lastLoginTime!='' ">
      	LAST_LOGIN_TIME = #{lastLoginTime,jdbcType=VARCHAR},
      </if>
      <if test="mac!=null and mac!='' ">
      	MAC = #{mac,jdbcType=VARCHAR},
      </if>
      <if test="loginIps!=null and loginIps!='' ">
      	LOGIN_IPS = #{loginIps,jdbcType=VARCHAR},
      </if>
      <if test="memo!=null and memo!='' ">
      	MEMO = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="createDate!=null and createDate!='' ">
      	CREATE_DATE = #{createDate,jdbcType=VARCHAR},
      </if>
      <if test="updateDate!=null and updateDate!='' ">
      	UPDATE_DATE = #{updateDate,jdbcType=VARCHAR},
      </if>
      <if test="createBy!=null and createBy!='' ">
      	CREATE_BY = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="updateBy!=null and updateBy!='' ">
      	UPDATE_BY = #{updateBy,jdbcType=INTEGER}
      </if>
    </set>
    where USER_ID = #{userId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseSysUserResultMap">
    select USER_ID, USER_NO, USER_PWD, USER_NAME, ROLE_ID, MOBILE, EMAIL, PHONE, QQ, 
    GENDER, STATUS, SALT, LAST_LOGIN_TIME, MAC, LOGIN_IPS, MEMO, CREATE_DATE, UPDATE_DATE, 
    CREATE_BY, UPDATE_BY
    from BASE_SYS_USER
    where USER_ID = #{userId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseSysUserResultMap" parameterType="java.util.Map">
    select USER_ID, USER_NO, USER_PWD, USER_NAME, ROLE_ID, MOBILE, EMAIL, PHONE, QQ, 
    GENDER, STATUS, SALT, LAST_LOGIN_TIME, MAC, LOGIN_IPS, MEMO, CREATE_DATE, UPDATE_DATE, 
    CREATE_BY, UPDATE_BY
    from BASE_SYS_USER limit #{start}, #{length}
  </select>

    <select id="selectAllCount" resultType="java.lang.Integer">
        select count(*)
        from BASE_SYS_USER
    </select>

    <select id="selectByUserPageCount" resultType="java.lang.Integer">
        select count(*)
        from BASE_SYS_USER	u
        <where>
            <if test="userNo!=null and userNo!='' ">
                instr(u.USER_NO, #{userNo} )  &gt; 0
            </if>
            <if test="userName!=null and userName!='' ">
                AND 	instr(u.USER_NAME, #{userName} )  &gt; 0
            </if>
            <if test="email!=null and email!='' ">
                AND  	instr(u.EMAIL, #{email} )  &gt; 0
            </if>
            <if test="mobile!=null and mobile!='' ">
                AND  	instr(u.MOBILE, #{mobile} )  &gt; 0
            </if>
            <if test="status!=null and status!='' ">
                AND  	STATUS = #{status}
            </if>
            <if test="gender!=null and gender!='' ">
                AND  	GENDER = #{gender}
            </if>
            <if test="createDateStart!=null and createDateStart!='' ">
                AND  DATE_FORMAT(CREATE_DATE, '%Y-%m-%d') &gt;= DATE_FORMAT( #{createDateStart}, '%Y-%m-%d')
            </if>
            <if test="createDateEnd!=null and createDateEnd!='' ">
                AND  DATE_FORMAT(CREATE_DATE, '%Y-%m-%d') &lt;= DATE_FORMAT( #{createDateEnd}, '%Y-%m-%d')
            </if>
        </where>
    </select>

    <select id="selectByUserPage" resultMap="BaseSysUserResultMap">
        select USER_ID, USER_NO, USER_PWD, USER_NAME, ROLE_ID, MOBILE, EMAIL, PHONE, QQ,
        GENDER, STATUS, SALT, LAST_LOGIN_TIME, MAC, LOGIN_IPS, MEMO, CREATE_DATE, UPDATE_DATE,
        CREATE_BY, UPDATE_BY
        from BASE_SYS_USER	u
        <where>
            <if test="userNo!=null and userNo!='' ">
                instr(u.USER_NO, #{userNo} )  &gt; 0
            </if>
            <if test="userName!=null and userName!='' ">
                AND 	instr(u.USER_NAME, #{userName} )  &gt; 0
            </if>
            <if test="email!=null and email!='' ">
                AND  	instr(u.EMAIL, #{email} )  &gt; 0
            </if>
            <if test="mobile!=null and mobile!='' ">
                AND  	instr(u.MOBILE, #{mobile} )  &gt; 0
            </if>
            <if test="status!=null and status!='' ">
                AND  	STATUS = #{status}
            </if>
            <if test="gender!=null and gender!='' ">
                AND  	GENDER = #{gender}
            </if>
            <if test="createDateStart!=null and createDateStart!='' ">
                AND  DATE_FORMAT(CREATE_DATE, '%Y-%m-%d') &gt;= DATE_FORMAT( #{createDateStart}, '%Y-%m-%d')
            </if>
            <if test="createDateEnd!=null and createDateEnd!='' ">
                AND  DATE_FORMAT(CREATE_DATE, '%Y-%m-%d') &lt;= DATE_FORMAT( #{createDateEnd}, '%Y-%m-%d')
            </if>
        </where>  limit ${start}, ${length}
    </select>
  
  	<!-- 通过model查询 -->
  	<select id="selectByUser" resultMap="BaseSysUserResultMap" parameterType="BaseSysUser">
  		select USER_ID, USER_NO, USER_PWD, USER_NAME, ROLE_ID, MOBILE, EMAIL, PHONE, QQ, 
	    GENDER, STATUS, SALT, LAST_LOGIN_TIME, MAC, LOGIN_IPS, MEMO, CREATE_DATE, UPDATE_DATE, 
	    CREATE_BY, UPDATE_BY
	    from BASE_SYS_USER	u
  		<where>  
	        <if test="userNo!=null and userNo!='' ">  
	           instr(u.USER_NO, #{userNo} )  &gt; 0
	        </if>  
	        <if test="userName!=null and userName!='' ">  
	          AND 	instr(u.USER_NAME, #{userName} )  &gt; 0
	        </if>   
	        <if test="email!=null and email!='' ">  
	          AND  	instr(u.EMAIL, #{email} )  &gt; 0
	        </if>  
	        <if test="mobile!=null and mobile!='' ">  
	          AND  	instr(u.MOBILE, #{mobile} )  &gt; 0
	        </if>  
	        <if test="status!=null and status!='' ">
	          AND  	STATUS = #{status}
	        </if>
            <if test="createDateStart!=null and createDateStart!='' ">
                AND  DATE_FORMAT(CREATE_DATE, '%Y-%m-%d') &gt; = DATE_FORMAT( #{createDateStart}, '%Y-%m-%d')
            </if>
            <if test="createDateEnd!=null and createDateEnd!='' ">
                AND  DATE_FORMAT(CREATE_DATE, '%Y-%m-%d') &lt;= DATE_FORMAT( #{createDateEnd}, '%Y-%m-%d')
            </if>

    	</where>  
  	</select> 	
  
  	<!-- 通过用户名获取数据 -->
	<select id="findByUserNo" parameterType="BaseSysUser" resultMap="BaseSysUserResultMap" useCache="false">
		select 
			USER_ID, 
			USER_NO, 
			USER_PWD, 
			USER_NAME, 
			ROLE_ID, 
			MOBILE, 
			EMAIL, 
			PHONE, 
			QQ, 
    		GENDER, 
    		STATUS, 
    		SALT, 
    		LAST_LOGIN_TIME, 
    		MAC, 
    		LOGIN_IPS, 
    		MEMO,
    		CREATE_DATE, 
    		UPDATE_DATE, 
    		CREATE_BY, 
    		UPDATE_BY
		from 
			BASE_SYS_USER
		where 
			USER_NO = #{userNo,jdbcType=VARCHAR}
	</select>
</mapper>