<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BaseSysUserMapper">
  <resultMap id="BaseSysUserResultMap" type="BaseSysUser">
    <id column="USER_ID" jdbcType="INTEGER" property="userId" />
    <result column="USER_NO" jdbcType="VARCHAR" property="userNo" />
    <result column="USER_PWD" jdbcType="VARCHAR" property="userPwd" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="ROLE_ID" jdbcType="VARCHAR" property="roleId" />
    <result column="MOBILE" jdbcType="VARCHAR" property="mobile" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="PHONE" jdbcType="VARCHAR" property="phone" />
    <result column="QQ" jdbcType="VARCHAR" property="qq" />
    <result column="GENDER" jdbcType="VARCHAR" property="gender" />
    <result column="STATUS" jdbcType="INTEGER" property="status" />
    <result column="SALT" jdbcType="VARCHAR" property="salt" />
    <result column="LAST_LOGIN_TIME" jdbcType="TIMESTAMP" property="lastLoginTime" />
    <result column="MAC" jdbcType="VARCHAR" property="mac" />
    <result column="LOGIN_IPS" jdbcType="VARCHAR" property="loginIps" />
    <result column="MEMO" jdbcType="VARCHAR" property="memo" />
    <result column="CREATE_DATE" jdbcType="VARCHAR" property="createDate" />
    <result column="UPDATE_DATE" jdbcType="VARCHAR" property="updateDate" />
    <result column="CREATE_BY" jdbcType="INTEGER" property="createBy" />
    <result column="UPDATE_BY" jdbcType="INTEGER" property="updateBy" />
  </resultMap>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from BASE_SYS_USER
    where USER_ID = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="BaseSysUser">
    insert into BASE_SYS_USER (USER_ID, USER_NO, USER_PWD, 
      USER_NAME, ROLE_ID, MOBILE, 
      EMAIL, PHONE, QQ, GENDER, 
      STATUS, SALT, LAST_LOGIN_TIME, 
      MAC, LOGIN_IPS, MEMO, 
      CREATE_DATE, UPDATE_DATE, CREATE_BY, 
      UPDATE_BY)
    values (#{userId,jdbcType=INTEGER}, #{userNo,jdbcType=VARCHAR}, #{userPwd,jdbcType=VARCHAR}, 
      #{userName,jdbcType=VARCHAR}, #{roleId,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{qq,jdbcType=VARCHAR}, #{gender,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{salt,jdbcType=VARCHAR}, #{lastLoginTime,jdbcType=TIMESTAMP}, 
      #{mac,jdbcType=VARCHAR}, #{loginIps,jdbcType=VARCHAR}, #{memo,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=VARCHAR}, #{updateDate,jdbcType=VARCHAR}, #{createBy,jdbcType=INTEGER}, 
      #{updateBy,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="BaseSysUser">
    update BASE_SYS_USER
    <!-- 该标签会前置SET关键字，且消除无意义的逗号 -->  
    <set>
      USER_NO = #{userNo,jdbcType=VARCHAR},
      USER_PWD = #{userPwd,jdbcType=VARCHAR},
      USER_NAME = #{userName,jdbcType=VARCHAR},
      ROLE_ID = #{roleId,jdbcType=VARCHAR},
      MOBILE = #{mobile,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      PHONE = #{phone,jdbcType=VARCHAR},
      QQ = #{qq,jdbcType=VARCHAR},
      GENDER = #{gender,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=INTEGER},
      SALT = #{salt,jdbcType=VARCHAR},
      LAST_LOGIN_TIME = #{lastLoginTime,jdbcType=TIMESTAMP},
      MAC = #{mac,jdbcType=VARCHAR},
      LOGIN_IPS = #{loginIps,jdbcType=VARCHAR},
      MEMO = #{memo,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=VARCHAR},
      UPDATE_DATE = #{updateDate,jdbcType=VARCHAR},
      CREATE_BY = #{createBy,jdbcType=INTEGER},
      UPDATE_BY = #{updateBy,jdbcType=INTEGER}
    </set>
    where USER_ID = #{userId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseSysUserResultMap">
    select USER_ID, USER_NO, USER_PWD, USER_NAME, ROLE_ID, MOBILE, EMAIL, PHONE, QQ, 
    GENDER, STATUS, SALT, LAST_LOGIN_TIME, MAC, LOGIN_IPS, MEMO, CREATE_DATE, UPDATE_DATE, 
    CREATE_BY, UPDATE_BY
    from BASE_SYS_USER
    where USER_ID = #{userId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseSysUserResultMap" parameterType="java.util.Map">
    select USER_ID, USER_NO, USER_PWD, USER_NAME, ROLE_ID, MOBILE, EMAIL, PHONE, QQ, 
    GENDER, STATUS, SALT, LAST_LOGIN_TIME, MAC, LOGIN_IPS, MEMO, CREATE_DATE, UPDATE_DATE, 
    CREATE_BY, UPDATE_BY
    from BASE_SYS_USER limit #{start}, #{length}
  </select>

    <select id="selectAllCount" resultType="java.lang.Integer">
        select count(*)
        from BASE_SYS_USER
    </select>

    <select id="selectAllPage" resultMap="BaseSysUserResultMap">
        select USER_ID, USER_NO, USER_PWD, USER_NAME, ROLE_ID, MOBILE, EMAIL, PHONE, QQ,
        GENDER, STATUS, SALT, LAST_LOGIN_TIME, MAC, LOGIN_IPS, MEMO, CREATE_DATE, UPDATE_DATE,
        CREATE_BY, UPDATE_BY
        from BASE_SYS_USER
    </select>
  
  	<!-- 通过用户名获取数据 -->
	<select id="findByUserNo" parameterType="BaseSysUser" resultMap="BaseSysUserResultMap" useCache="false">
		select 
			USER_ID, 
			USER_NO, 
			USER_PWD, 
			USER_NAME, 
			ROLE_ID, 
			MOBILE, 
			EMAIL, 
			PHONE, 
			QQ, 
    		GENDER, 
    		STATUS, 
    		SALT, 
    		LAST_LOGIN_TIME, 
    		MAC, 
    		LOGIN_IPS, 
    		MEMO,
    		CREATE_DATE, 
    		UPDATE_DATE, 
    		CREATE_BY, 
    		UPDATE_BY
		from 
			BASE_SYS_USER
		where 
			USER_NO = #{userNo,jdbcType=VARCHAR}
	</select>
</mapper>